<!-- routerLink contain the path of component that when click on will arrived to that component, routerActive is when click on the link the link will be highlight -->
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-primary">
  <div class="container">
    <a class="navbar-brand" routerLink="/" routerLinkActive="active"
      >Dating App</a
    >
    <ul class="navbar-nav me-auto mb-2 mb-md-0">
      <ng-container *ngIf="accountService.currentUser$ | async">
        <li class="nav-item">
          <a class="nav-link" routerLink="/members" routerLinkActive="active"
            >Matches</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/lists" routerLinkActive="active"
            >Lists</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/messages" routerLinkActive="active"
            >Messages</a
          >
        </li>
      </ng-container>
    </ul>

    <div
      class="dropdown"
      *ngIf="accountService.currentUser$ | async as user"
      dropdown
    >
      <a class="dropdown-toggle text-light text-decoration-none" dropdownToggle
        >Welcome {{ user.username | titlecase }}</a
      >
      <div class="dropdown-menu" *dropdownMenu>
        <a class="dropdown-item"> Edit Profile</a>
        <a class="dropdown-item" (click)="logout()"> Logout</a>
        <!--WHen click log out => angular will call Logout method in nav.component.ts-->
      </div>
    </div>
    <form
      *ngIf="!(accountService.currentUser$ | async)"
      #loginForm="ngForm"
      class="d-flex"
      (ngSubmit)="login()"
      autocomplete="off"
    >
      <!--When user clicked  submit button => will send param into login() method in component-->
      <!--Angular user the name property to bind with the inputs and components
          Need to provide ngModel => this provide 2 way binding
      -->
      <input
        name="username"
        [(ngModel)]="model.username"
        class="form-control me-2"
        type="text"
        placeholder="Username"
      />
      <input
        name="password"
        [(ngModel)]="model.password"
        class="form-control me-2"
        type="password"
        placeholder="Password"
      />
      <button class="btn btn-success" type="submit">Login</button>
    </form>
  </div>
</nav>
